<html>
<body>
	<form action="/setarearesults" method="post">
		 <table>
			<tr>
			<td><label> Top Latitude </label></td>
			<td><input type="text" name="toplat"></td>
			</tr>
			<tr>
			<td><label> Bottom Latitude </label></td>
			<td><input type="text" name="bottomlat"></td>
			</tr>
			<tr>
			<td><label> Left Longitude </label></td>
			<td> <input type="text" name="leftlong"></td>
			</tr>
			<tr>
			<td><label> Right Longitude </label></td>
			<td><input type="text" name="rightlong"></td>
			</tr>
			<tr>
			<td><input type="submit" name="submitui"></td>
			</tr>
			</table>
	</form>
</body>