<html>
<body>
	<form action="/regtaxiresults" method="post">
		 <table>
			<tr>
			<td><label> Taxi Driver Name </label></td>
			<td><input type="text" name="tname"></td>
			</tr>
			<tr>
			<td><label> Taxi Number </label></td>
			<td><input type="text" name="tnum"></td>
			</tr>
			<tr>
			<td><label> Taxi Type </label></td>
			<td> <input type="text" name="ttype"></td>
			</tr>
				<tr>
			<td><label> Taxi Phone Number </label></td>
			<td> <input type="text" name="tphone"></td>
			</tr>
			<tr>
			<td><input type="submit" name="submitui"  value="Register"></td>
			</tr>
			</table>
	</form>
</body>
</html>