<html>
<body>
	<form action="/setuserresults" method="post">
        <table>
           <tr>
           <td><label> User Phone Number </label></td>
           <td><input type="text" name="phone"></td>
           </tr>
		   <tr>
		    <tr>
           <td>
		   <label for="taxis">Choose a Taxi Type:</label></td>
			<td><select name="txtype" id="taxis">
				<option value="Luxury">Luxury</option>
				<option value="Utility">Utility</option>
				<option value="Deluxe">Deluxe</option>
				<option value="All">All</option>
				</select>
		   </td>
           </tr>
		   <tr>
           <td><input type="submit" name="btnphone"></td>
           </tr>
         </table>
	</form>
</body>
</html>